# Node/PNPM
node_modules/
pnpm-lock.yaml
.turbo/
dist/
.next/
coverage/

# Env
.env
.env.local

# macOS
.DS_Store

# Go
bin/

# Build artifacts
build/
turbo/

/apps/api/tmp

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
